.users {
  grid-area: a;
  display: flex;
  justify-content: center;
}

.firstUser {
  background-color: var(--color-yellow);
}

.secondUser {
  background-color: var(--color-green);
}

@media (max-width: 1100px) {
  .users {
    height: 140px;
    width: 210px;
  }
}

@media (max-width: 700px) {
  .users {
    height: 140px;
    width: 100%;
  }
}