.board {
  grid-area: c;
  height: fit-content;
  width: fit-content;
  padding: 8px;
  background-color: var(--color-yellow);

  .wrapper {
    height: 100%;

    .container {
      height: 100%;
    }
  }
}

.row {
  display: flex;

  &:last-child {
    border-bottom: 0.5px solid var(--color-black);
  }
}

.cell {
  cursor: pointer;
  height: 60px;
  width: 60px;;
  border-top: 0.5px solid var(--color-black);
  border-left: 0.5px solid var(--color-black);
  background-color: var(--color-white);

  img {
    width: 100%;
    height: 100%;
  }

  &:last-child {
    border-right: 0.5px solid var(--color-black);
  }
}

.nonClickable {
  pointer-events: none;
}

@media (max-width: 1100px) {
  .cell {
    height: 62px;
    width: 62px;
  }
}

@media (max-width: 700px) {
  .cell {
    height: 45px;
    width: 45px;
  }
}

@media (max-width: 500px) {
  .board {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
    background-color: var(--color-yellow);
  }

  .cell {
    height: 35px;
    width: 35px;
  }
}

